<!-- <div class="main">
    <h2>Find Student Name</h2>
    <div class="card">
      <div class="input-wrap">
        <input type="search" [(ngModel)] = studentName placeholder="Find Student Name">
      </div>
      <div *ngFor="let student of students | filterPipe: studentName" class="city" >
        {{student}}
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="  Start searching for a Student by id or name or email">
      </div>
    </div>
  </div>
  